<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
    <% include ../static/partials/navbar.ejs %>
      <div class="smaller-title">
        SmoothieShare
      </div>
  </header>

  <% if(currentUser) { %>
    <a href="smoothieshare/new">
        <button>Post Recipe</button>
    </a>
    <% } %>

      <div>
        <% subjectItem.forEach((subject) => { %>
          <ul>
            <a href="/smoothieshare/<%= subject.id %>">
              <%= subject.title %>
            </a>
          </ul>
          <% }) %>
      </div>
</body>

</html>
