<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../css/smoothiesharehead.css">

</head>

<body>
  <% include ../static/partials/messages.ejs %>

    <header>
      <a href="/">
      <h1 class="title">Super Smoothie</h1>
    </a>
      <% include ../static/partials/navbar.ejs %>
        <div class="smaller-title">
          SmoothieShare
        </div>
    </header>

    <h2 class="page_description">Share your smoothie!</h2>
    <form action="/smoothieshare/create" method="post">
      <div class="subject_title_total">
        <input type="text" class="subject_title" name="title" placeholder="Smoothie Name">
      </div>
      <div class="subject_description_total">
        <textarea rows="7" cols="75" class="subject_description" name="description" placeholder="Smoothie Description"></textarea>
      </div>
      <button class="submit" type="submit">Submit</button>
    </form>

</body>

</html>
