<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
    <div class="smaller-title">
      SmoothieShare
    </div>
    <h2>Create a Subject</h2>
    <form action="/smoothieshare/create" method="post">
      <label for="title">Subject title</label>
      <input type="text" name="title" placeholder="Subject title">
      <label for="description">Description</label>
      <textarea rows="5" name="description" placeholder="Enter Description"></textarea>
      <button type="submit">Submit</button>
    </form>
</body>

</html>
