<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
  <link rel="stylesheet" type="text/css" href="../css/smoothiesharehead.css">

</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
    <% include ../static/partials/navbar.ejs %>
      <div class="smaller-title">
        SmoothieShare
      </div>
  </header>

  <% include ../static/partials/messages.ejs %>

    Sign in
    <form action="/users/signin" method="post">

      <label for="email">Email</label>

      <input class="email" type="email" name="email" placeholder="Enter email">
      <label for="password">Password</label>
      <input class="password" type="password" name="password" placeholder="Enter password">
      <button class="signin" type="submit">Sign in</button>
    </form>

</body>

</html>
