<!-- #1 -->
<% if(messages.error || messages.notice) { %>

  <!-- #2 -->
  <div>
    <% if(messages.error) { %>

      Validation errors:
      <ul style="background-color: lightsalmon; font-weight: bold; width: 30%; border-radius: 22px;">
        <!-- #3 -->
        <% messages.error.forEach((err) => { %>
          <li>
            <%  if(err.param == undefined || err.param == null){ %>
            <%= `${err}` %>
            <%  } else if (err.param && err.msg){ %>
            <%= `${err.param} ${err.msg}` %>
            <%   } %>
          </li>
          <% }) %>
      </ul>
      <% } else { %>
        <p style="background-color: lightsteelblue; font-weight: bold; width: 30%; border-radius: 22px;">
          <%= messages.notice %>
        </p>
        <% } %>
  </div>
  <% } %>