<nav class="navigation">
  <a href="/">
Home
</a>
</nav>

<nav class="navigation">
  <a href="/yousmoothie">
YouSmoothie
</a>
</nav>

<nav class="navigation">
  <a href="/smoothieshare/signup">
Sign Up
</a>
</nav>

<nav class="navigation">
  <a href="/smoothieshare">
SmoothieShare
</a>
</nav>
