<nav class="navigation">
  <a href="/">
Home
</a>
</nav>

<nav class="navigation">
  <a href="/yousmoothie">
YouSmoothie
</a>
</nav>

<nav class="navigation">
  <% if(currentUser) { %>
    <ul>
      <li>
        <a href="/smoothieshare/signout">Sign out</a>
      </li>
      </ul>
    <% } else { %>
      <ul>

      <li >
        <a href="/smoothieshare/signup">Sign up</a>
      </li>
      <li>
        <a href="/smoothieshare/signin">Sign in</a>
      </li>
      </ul>
    <% }%>
</nav>

<nav class="navigation">
  <a href="/smoothieshare">
SmoothieShare
</a>
</nav>
