<nav class="navigation home">
Home
</nav>

<nav class="navigation yousmoothie">
YouSmoothie
</nav>

<nav class="navigation signup">
Sign Up
</nav>

<nav class="navigation smoothieshare">
SmoothieShare
</nav>
