<nav class="navigation">
  <a href="/">
Home
</a>
</nav>

<nav class="navigation">
  <a href="/yousmoothie">
YouSmoothie
</a>
</nav>

<nav class="navigation">
  <a href="">
Sign Up
</a>
</nav>

<nav class="navigation">
  <a href="">
SmoothieShare
</a>
</nav>
