<section class="smoothiemonth-title">
Smoothie of the Month
  </section>

  <section class="smoothie-name">
Smoothie Name
    </section>

    <section class="smoothie-description">
      Smoothie Description
      </section>
