<section class="smoothieshare-title">
  SmoothieShare
  </section>

<div class="smoothieshare-description">
Create a SmoothieShare account! You can chat with other smoothie lovers and share recipes, tips, and more!
</div>

<div class="smoothieshare-button">
Create Smoothie
</div>
