<section class="yousmoothie_title">
  YouSmoothie
</section>

<section class="yousmoothie_description">
  Pick a fruit. Any fruit. We'll give you a free, healthy, and delicious smoothie recipe based on your favorite fruit!
</section>
<a href="/yousmoothie">
  <div class="yousmoothie_button">
    Create Smoothie
  </div>
</a>
