<section class ="yousmoothie-title">
YouSmoothie
</section>

<section class="yousmoothie-description">
Pick a fruit. Any fruit. We'll give you a free, healthy, and delicious smoothie recipe based on your favorite fruit!
  </section>
<div class="yousmoothie-button">
Create Smoothie
</div>
