<section class="yousmoothie_title">
  YouSmoothie
</section>

<section class="yousmoothie_description">
  Pick a fruit. Any fruit. We'll give you a free, healthy, and delicious smoothie recipe based on your favorite fruit!
</section>
<div class="yousmoothie_button">
  Create Smoothie
</div>
<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I love #supersmoothies! the best smoothies i've ever seen! #fitness #health #smoothies #yum" data-lang="en" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
