.bananaSmoothie_name {
  color: white;
  font-weight: bold;
  font-size: 35px;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  top: 25%;
  right: 35%;
  position: absolute;
}
.bananaSmoothie_ingredients {
  overflow: hidden;
  font-weight: bold;
  border-radius: 20px;
  border: solid white;
  max-height: 37%;
  overflow: auto;
  background-color: white;
  width: 20%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-53%, -70%);
  padding: 10px;
}
.bananaSmoothie_recipe {
  overflow: hidden;
  font-weight: bold;
  border-radius: 20px;
  border: solid white;
  max-height: 37%;
  overflow: auto;
  background-color: white;
  width: 20%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-53%, -70%);
  padding: 10px;
}
.bananaSmoothie_calories {
  overflow: hidden;
  font-weight: bold;
  border-radius: 20px;
  border: solid white;
  overflow: hidden;
  background-color: white;
  width: 13%;
  height: auto;
  position: absolute;
  top: 70%;
  left: 48%;
  transform: translate(-53%, -70%);
  padding: 10px;
  margin: 55px;
}
.bananaSmoothie_image {
  max-height: 37%;
  border-radius: 20px;
  border: solid white;
  overflow: hidden;
  width: 15%;
  height: auto;
  position: absolute;
  top: 52%;
  left: 48%;
  transform: translate(-53%, -70%);
  margin: 50px;
}
#reload {
  position: absolute;
  left: 38%;
  transform: translate(-53%, -70%);
}
