body {
  background-image: url("../image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Lucida Console";
  color: black;
  overflow-x: hidden;
  width: 100%;
}
.alert{
  left: 2%;
  position: absolute;
  top: 1%;
}
.close{
  background-color: Transparent;
     background-repeat:no-repeat;
     border: none;
     cursor:pointer;
     overflow: hidden;
     outline:none;
     position: relative;
     left: 100%;
     color: transparent;

}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
}
.navigation {
  bottom: 42px;
  position: relative;
  left: 65%;
  display: inline-block;
  margin-right: 12px;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.smaller-title {
  left: 35%;
  color: black;
  font-size: 55px;
  font-weight: bold;
  text-shadow: -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink,
    1px 1px 0 pink;
  position: absolute;
  top: 14%;
}
.title {
  position: relative;
  color: black;
  font-size: 55px;
  left: 32%;
  font-weight: bold;
  text-shadow: -1px -1px 0 pink, 1px -1px 0 pink, -1px 1px 0 pink,
    1px 1px 0 pink;
  margin-right: 10px;
  margin-left: 10px;
}
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  padding: 15px;
  border-radius: 20px;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;

}

.dropdown-content a {
  color: black;
  padding: 4px 6px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
