.yousmoothie {
  width: 19%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-52%, -52%);
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  overflow: auto;
  background-color: white;
}
.yousmoothie_title {
  font-weight: bold;
  font-size: 30px;
}
.yousmoothie_button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 7px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 20%;
  transform: translate(40%, -50%);
}
.yousmoothie_description {
  font-weight: bold;
  margin-top: 10%;
  margin-left: 7%;
  font-size: 20px;
}

.smoothieshare {
  width: 19%;
  height: 35%;
  position: absolute;
  top: 50%;
  left: 80%;
  margin-right: 10px;
  transform: translate(-55%, -52%);
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  overflow: auto;
  background-color: white;
}
.smoothieshare-title {
  font-weight: bold;
  font-size: 30px;
}
.smoothieshare-description {
  font-weight: bold;
  margin-left: 7%;
  margin-top: 10%;
  font-size: 20px;
}

.smoothieshare-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 16px 7px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  transform: translate(40%, -50%);
  margin-top: 20%;
}
.smoothiemonth {
  width: 35%;
  height: 48%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  overflow: hidden;
  background-color: white;
}
