.yousmoothie_title {
  font-weight: bold;
  font-size: 30px;
}
.yousmoothie_button {
  background-color: #32a883;
  border: none;
  color: white;
  padding: 15px 10px;
  width: 50%;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-top: 21%;
  transform: translate(40%, -50%);
}
.yousmoothie_description {
  font-weight: bold;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
}
.smoothieshare-title {
  font-weight: bold;
  font-size: 30px;
}
.smoothieshare-description {
  font-weight: bold;
  margin-top: 10%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 20px;
}
.smoothiemonth-title {
  font-weight: bold;
  font-size: 40px;
}
.smoothieshare-button {
  background-color: #32a883;
  border: none;
  color: white;
  padding: 15px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 50%;
  transform: translate(40%, -50%);

  margin-top: 21%;
}
.twitter-share-button{

}
