.subject_title {
  color: black;
  width: 60%;
  border-radius: 20px;
  border: solid white;
  overflow: auto;
  margin-top: 5px;
}
.smoothieshare_index {
  width: 70%;
  position: absolute;
  left: 10%;
}
.subject_title a {
  color: black;
}
.email {
  background-color: #4caf50;
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 25%;
  color: white;
}
.email_class {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  border: solid white;
  width: 40%;
}
.password {
  background-color: #4caf50;
  padding: 10px;
  border-radius: 20px;
  border: solid white;
  margin-right: 15px;
  margin-bottom: 15px;
  width: 25%;
  color: white;
}
.signup_description {
  font-size: 25px;
  font-weight: 900;
}
.password_class {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  border: solid white;
  width: 40%;
}
.signup_total {
  left: 2%;
  position: relative;
  font-weight: bold;
}
.signin_total {
  left: 2%;
  font-weight: bold;

  position: relative;
}

.signin {
  background-color: #4caf50;
  padding: 15px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  border: solid #4caf50;
}
.create_account {
  background-color: #4caf50;
  padding: 15px;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-weight: bold;
  border: solid #4caf50;
}
.signin {
  background-color: #4caf50;
  border: solid #4caf50;
  color: white;
  padding: 12px;
  border-radius: 20px;
  font-weight: bold;
}
.post_recipe {
  background-color: #4caf50;
  border: solid #4caf50;
  color: white;
  padding: 12px;
  border-radius: 20px;
  font-weight: bold;
  position: relative;
  left: 10%;
}
.submit {
  background-color: #4caf50;
  border: solid #4caf50;
  color: white;
  padding: 12px;
  border-radius: 20px;
  font-weight: bold;
}
.subject_title_total {
  left: 27%;
  position: absolute;
  width: 35%;
}
.subject_title {
  background-color: white;
  border: solid #4caf50;
  color: black;
  padding: 12px;
  border-radius: 20px;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}
.subject_description_total {
  top: 45%;
  left: 27%;
  position: absolute;
}
.subject_description {
  font-size: 20px;
  width: 75%;
  background-color: white;
  border: solid #4caf50;
  color: black;
  padding: 12px;
  border-radius: 20px;
  font-weight: bold;
}
.submit {
  top: 75%;
  position: absolute;
  left: 67%;
}
.subject_create {
  border: solid #4caf50;
  font-weight: bold;

  background-color: white;
}
.page_description {
  position: relative;
  left: 36%;
}
.smoothieshow {
  width: 45%;
  height: 52%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -45%);
  padding: 10px;
  border-radius: 20px;
  border: solid #4caf50;
  overflow: hidden;
  background-color: white;
}
.edit_subject {
  background-color: #4caf50;
  border: solid #4caf50;
  color: white;
  padding: 11px;
  border-radius: 20px;
  font-weight: bold;
  top: 85%;
  position: absolute;
  left: 61%;
}
.delete_subject {
  background-color: #4caf50;
  border: solid #4caf50;
  color: white;
  padding: 11px;
  border-radius: 20px;
  font-weight: bold;
  top: 85%;
  position: absolute;
  left: 66%;
}
.;
