<!DOCTYPE html>
<html>
<head>
  <% include ../static/partials/head.ejs %>
  <link rel="stylesheet" type="text/css" href="../../css/blueberry.css">

  <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>
<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ../static/partials/navbar.ejs %>
  <div class="smaller-title">
    YouSmoothie
  </div>
    <div class="blueberrySmoothie">
      <%= blueberrySmoothies.name %>
      <%= blueberrySmoothies.recipe %>
      <%= blueberrySmoothies.calories %>
    </div>
</body>
</html>
