<a class="blueberry" href="/yousmoothie/blueberry">
</a>

<a class="banana" href="/yousmoothie/banana">
</a>

<a class="strawberry" href="/yousmoothie/strawberry">
</a>

<a class="pineapple" href="/yousmoothie/pineapple">
</a>
