<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
    <nav>
      <% include ../static/partials/navbar.ejs %>
    </nav>

    <div class="smaller-title">
      YouSmoothie
    </div>
  </header>

  <div>
    <% include ./fruits.ejs %>
  </div>
</body>

</html>
