<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <% include ../static/partials/yousmoothiehead.ejs %>

</head>

<body>
  <header>
    <a href="/">

    <h1 class="title">Super Smoothie</h1>
  </a>

    <nav>
      <% include ../static/partials/navbar.ejs %>
    </nav>

    <div class="smaller-title">
      YouSmoothie
    </div>
  </header>

  <div class="fruits">
    <a class="blueberry" href="/yousmoothie/blueberry">
    </a>

    <a class="banana" href="/yousmoothie/banana">
    </a>

    <a class="strawberry" href="/yousmoothie/strawberry">
    </a>

    <a class="pineapple" href="/yousmoothie/pineapple">
    </a>
  </div>
</body>

</html>
