<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <style>
      .navigation {
        top: 96px;
      }
    </style>
</head>

<body>
  <% include ../static/partials/navbar.ejs %>

    <div>
      faasdf
    </div>
</body>

</html>
