<!DOCTYPE HTML>
<!--
	SuperSmoothie by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>SuperSmoothie</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
				<%- include ('../static/partials/header.ejs') %>

				<%- include ('../static/partials/navbar.ejs') %>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>YouSmoothie</h1>
							<span class="image main"></span>
							<div class="inner">
								<header>
									<h3>Choose your favorite fruit!</h3>
								</header>
								<section class="tiles">
									<article class="style1">
										<span class="image">
											<img src="images/bananas.jpg" alt="" />
										</span>
										<a href="/yousmoothie/banana">
											<h1>Banana</h1>
											<div class="content">
												<p>Four delicious recipes</p>
											</div>
										</a>
									</article>
									<article class="style2">
										<span class="image">
											<img src="images/pineapples.jpg" alt="" />
										</span>
										<a href="/yousmoothie/pineapple">
											<h1>Pineapple</h1>
											<div class="content">
												<p>Four delicious recipes</p>
											</div>
										</a>
									</article>
									<article class="style3">
										<span class="image">
											<img src="images/blueberries.jpg" alt="" />
										</span>
										<a href="/yousmoothie/blueberry">
											<h1>Blueberry</h1>
											<div class="content">
												<p>Four delicious recipes</p>
											</div>
										</a>
									</article>
									<article class="style4">
										<span class="image">
											<img src="images/strawberries.jpg" alt="" />
										</span>
										<a href="/yousmoothie/strawberry">
											<h1>Strawberry</h1>
											<div class="content">
												<p>Four delicious recipes</p>
											</div>
										</a>
									</article>
								</section>
						</div>
					</div>

			<!-- Footer -->
			<%- include ('../static/partials/footer.ejs') %>


	</div>

<!-- Scripts -->
<%- include ('../static/partials/scripts.ejs') %>


</body>
</html>