<!DOCTYPE html>
<html>

<head>
  <% include ../static/partials/head.ejs %>
    <link rel="stylesheet" type="text/css" href="../../css/yousmoothiehead.css">
</head>

<body>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <nav>
    <% include ../static/partials/navbar.ejs %>
  </nav>

  <div class="smaller-title">
    YouSmoothie
  </div>
  <div>
    <% include ./fruits.ejs %>
  </div>
</body>

</html>
