<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <main>
    <header>
      <h1 class="title">Super Smoothie</h1>
    </header>

    <% include ./partials/navbar.ejs %>

      <div class="yousmoothie">
        <section class="yousmoothie_title">
          YouSmoothie
          <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I love #supersmoothies! the best smoothies i've ever seen! #fitness #health #smoothies #yum" data-lang="en" data-show-count="false">Tweet</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </section>

        <section class="yousmoothie_description">
          Pick a fruit. Any fruit. We'll give you a free, healthy, and delicious smoothie recipe based on your favorite fruit!
        </section>
        <a href="/yousmoothie">
          <div class="yousmoothie_button">
            Create Smoothie
          </div>
        </a>
      </div>

      <div class="smoothiemonth">
        <section class="smoothiemonth-title">
          Smoothie of the Month
        </section>

        <section class="smoothie_name">
          Smoothie Name
        </section>

        <section class="smoothie_description">
          Smoothie Description
        </section>

      </div>

      <div class="smoothieshare">
        <section class="smoothieshare-title">
          SmoothieShare
        </section>

        <div class="smoothieshare-description">
          Create a SmoothieShare account! You can chat with other smoothie lovers and share recipes, tips, and more!

        </div>

        <div class="smoothieshare-button">
          <a href="/smoothieshare/signup">
          Create Account
        </a>
        </div>
      </div>

  </main>

</body>

</html>
