<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <main>
    <header>
      <a href="/">

      <h1 class="title">Super Smoothie</h1>
    </a>
      <% include ./partials/navbar.ejs %>
      <% include ./partials/messages.ejs %>
    </header>
    <div class="yousmoothie">
      <section class="yousmoothie_title">
        YouSmoothie
      </section>

      <section class="yousmoothie_description">
        Pick a fruit. Any fruit. We'll grab for you a healthy smoothie recipe based on your favorite fruit!
      </section>
      <a href="/yousmoothie">
        <div class="yousmoothie_button">
          Create Smoothie
        </div>
      </a>
    </div>

    <div class="smoothiemonth">
      <section class="smoothiemonth_title" style="text-align:center;">
Smoothie of the Month
      </section>
      <br>
      <section class="smoothie_name" style="text-align:center;font-size:18px;font-weight: bold;">
        Chocolate Blueberry Smoothie
      </section>

      <section class="smoothie_image">
        <img src="../image/blueberrysmoothie4.jpg" style=" border-radius: 10px;height: 10%;width: 50%;position:relative;top : 10px;left : 22%;" class="smoothie_image" alt="smoothie image">
      </section>

    </div>

    <div class="smoothieshare">
      <section class="smoothieshare-title">
        SmoothieShare
      </section>

      <div class="smoothieshare-description">
        Create a SmoothieShare account! You can post your own smoothie recipes and browse other users' smoothies!
      </div>

      <div class="smoothieshare-button">
        <a href="/smoothieshare/signup">
          Create Account
        </a>
      </div>
    </div>

  </main>
  <div class="tweet_button">
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="I love #supersmoothies! the best smoothies i've ever seen! #fitness #health #smoothies #yum" data-lang="en" data-show-count="false">Tweet</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
</body>

</html>
