<!DOCTYPE html>
<html>
<head>
<% include ./partials/head.ejs %>
  </head>
  <body>

<main>
  <header>
    <h1 class="title">Super Smoothie</h1>
  </header>
  <% include ./partials/navbar.ejs %>
  <section class="yousmoothie">

    </section>

  <section class="smoothiemonth">

  </section>


  <section class="smoothieshare">

    </section>

  </main>
    </body>

</html>
