<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
</head>

<body>

  <main>
    <header>
      <h1 class="title">Super Smoothie</h1>
    </header>
    <% include ./partials/navbar.ejs %>
      <div class="yousmoothie">
        <% include ./partials/yousmoothie.ejs %>
      </div>

      <div class="smoothiemonth">
        <% include ./partials/smoothiemonth.ejs %>

      </div>

      <div class="smoothieshare">
        <% include ./partials/smoothieshare.ejs %>

      </div>

  </main>
</body>

</html>
